/* fuentes  */
@font-face{
    font-family: bebasnue;
    src: url(./fonts/TimesTenLTStd-Bold/TimesTenLTStd-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: norice;
    src: url(./fonts/norice/ttf/norice-norice-regular-400.ttf);
    font-weight: normal;
    font-style: normal;
}

/* reseteo */
*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

/* The design is inspired from the mockapi.io */
.paste-button {
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: none;
}

.button {
  background-color: white;
  color: rgb(123, 13, 30);
  padding: 10px 15px;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid transparent;
  border-radius: 15px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  font-size: 13px;
  position: relative;
  z-index: 100;
  min-width: 100px;
  background-color: rgb(123, 13, 30);
  border: 2px solid white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 100;
  margin-bottom: 10px;
  margin-top: 10px;
}

.dropdown-content a {
  color: white;
  padding: 5px 0px;
  text-decoration: none;
  display: block;
  transition: 0.1s;
  margin: 5px;
}

.dropdown-content a:hover {
  color: #212121;
}

.dropdown-content a:focus {
  color: white;
}

.dropdown-content #top:hover {
  border-radius: 0px 13px 0px 0px;
}

.dropdown-content #bottom:hover {
  border-radius: 0px 0px 13px 13px;
  position: relative;
}

.paste-button:hover button {
  border-radius: 15px 15px 0px 0px;
  display: none;
}

.paste-button:hover .dropdown-content {
  display: block;
}
.btn-menu{
  width: 25px;
}

body{
    background-color: white;
    font-family: montserrat;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 0;
}

section{
  box-sizing: border-box;
  z-index: 0;
  position: relative;
}
.imgLogoIndex{
    height: 55px;
    margin: 10px;
}
.headerIndex{
    background-color: rgb(123, 13, 30);
    display: flex; 
    justify-content: space-between;
    align-items: center;
    z-index: 2;

}
.imgSection{
  display: flex;
  align-items: center;
  justify-content: center;
}
.logoIndex{
    display: flex;
    align-items: center;
    font-size: 20px;
    color: white;
    font-weight: 500;
}
.logoIndex a{
    color: white;
    text-decoration: none;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navIndex{
    margin-right: 20px;
}
.tituloSectionIndex{
    margin: 60px 50px 0px 60px;
    z-index: 0;
    position: relative;
}
h1{
    font-size: 75px; 
    font-weight: 350;
}
h3{
    font-size: 50px;
    font-weight: 200;
}
.imgCarne{
    height: 550px;
    margin: 10px 10px 0px 0px;
}
.ulIndex{
    display: flex;
    list-style: none;
    gap: 60px;
    font-family: montserrat;
    font-size: 15px;
}
.ulIndex a{
    color: white;
    text-decoration: none;
}
.section1Index{
    background-color: white;
    height: 600px;
    display: flex;
    z-index: -1;
    position: relative;
}

/* footer */
.socials-container {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 155px;
    padding: 20px 40px;
    background-color: rgb(123, 13, 30);
  }
  .social {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid rgb(194, 194, 194);
  }
  .twitter1:hover {
    background: linear-gradient(45deg, #66757f, #00acee, #36daff, #dbedff);
  }
  .facebook1:hover {
    background: linear-gradient(45deg, #134ac0, #316ff6, #78a3ff);
  }
  .google-plus1:hover {
    background: linear-gradient(45deg, #872419, #db4a39, #ff7061);
  }
  .instagram1:hover {
    background: #f09433;
    background: -moz-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    background: -webkit-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    background: linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  }
  .social svg {
    fill: white;
    height: 20px;
  }

/* productos */
.imgHidden{
  display: none;
}
.sectionProductos{
    background-color: rgb(123, 13, 30);
    margin-top: 150px;
    margin-bottom: 50px;
    height: 400px;
    display: flex;
    align-items: center;
}
.tituloSectionProductos{
    font-family: montserrat;
    color: white;
    font-size: 50px;
    font-weight: 200;
}
.subtituloSectionProductos{
    font-family: montserrat;
    color: white;
    font-size: 20px;
    font-weight: 100;
}
.sectionText{
    width: 800px;
    margin-left: 40px;
}
.displayImgSection{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.imgSectionProductos1{
    height: 400px;
}
.sectionFinal{
    margin-bottom: 300px;
}

/* donde estamos */

.sectionDondeEstamos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}
.ubicacion{
    border: rgb(123, 13, 30) solid 10px;
    box-shadow: 10px 10px 10px 10px rgb(123, 13, 30) ;
}
.main {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  
  .up {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }
  
  .down {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }
  
  .card1 {
    width: 150px;
    height: 150px;
    outline: none;
    border: none;
    background: white;
    border-radius: 90px 5px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 50px 2px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .instagram {
    margin-top: 1.5em;
    margin-left: 1.2em;
    fill: #cc39a4;
  }
  
  .card2 {
    width: 150px;
    height: 150px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 90px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 50px 2px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .facebook {
    margin-top: 1.5em;
    margin-left: -.9em;
    fill: #03A9F4;
  }
  
  .card3 {
    width: 150px;
    height: 150px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 5px 90px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 20px 50px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .whatsapp {
    margin-top: -.6em;
    margin-left: 1.2em;
    fill: #00ff00;
  }
  
  .card4 {
    width: 150px;
    height: 150px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 90px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 20px 50px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .gmail {
    margin-top: -.9em;
    margin-left: -1.2em;
    fill: #f14336;
  }
  
  .card1:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #cc39a4;
  }
  
  .card1:hover .instagram {
    fill: white;
  }
  
  .card2:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #1877f2;
  }
  
  .card2:hover .facebook {
    fill: white;
  }
  
  .card3:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #00ff00;
  }
  
  .card3:hover .whatsapp {
    fill: white;
  }
  
  .card4:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #FF0004;
  }
  
  .card4:hover .gmail {
    fill: white;
  }

.sectionContacto{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
}
.sec2{
    height: 500px;
}
.imgSectionProductos2{
    height: 500px;
}

/* media queries */

@media (max-width: 1300px){
  .tituloSectionIndex h1{
    font-size: 60px;
  }
  .tituloSectionIndex h3{
    font-size: 40px;
  }
}
@media (max-width: 1050px){
  .tituloSectionIndex h1{
    font-size: 55px;
  }
  .tituloSectionIndex h3{
    font-size: 35px;
  }
  .imgCarne{
    height: 500px;
  }
}
@media (max-width: 900px){
  .section1Index{
    display: flex;

  }
  .imgCarne{
    height: 400px;
  }
  .tituloSectionIndex{
    margin-top: 10px;
  }
}
@media (max-width: 790px){

  .popup{
    display: flex;
  }
  .imgCarne{
    height: 350px;
  }
  .socials-container{
    gap: 10px;
  }
  .section1Index{
    flex-direction: column;
  }
  .ulIndex{
    display: none;
  }
  .navIndex{
    display: flex;
    flex-direction: column;
  }
  .paste-button{
    display: block;
  }
  .sectionProductos{
    width: 100%;
    margin-left: 0px;
    height: 500px;
  }
  .sectionText{
    margin-left: 10px;
  }
  .tituloSectionProductos{
    font-size: 30px;
  }
  .subtituloSectionProductos{
    font-size: 20px;
  }
  .imgProd{
    height: 200px;
  }
  .imgShow{
    display: none;
  }
  .imgHidden{
    display: block;
  }
  .imgProd1{
    height: 400px;
    background-color: black;
    display: none;
  }
}
@media (max-width: 790px){
  .tituloSectionIndex h1{
    font-size: 40px;
  }
  .tituloSectionIndex h3{
    font-size: 35px;
  }
}
@media (max-width: 520px){
  .tituloSectionIndex h1{
    font-size: 35px;
  }
  .tituloSectionIndex h3{
    font-size: 30px;
  }
  .tituloSectionIndex{
    margin-left: 20px;
    margin-right: 20px;
  }
  .imgCarne{
    height: 300px;
  }
  section{
    margin-bottom: 30px;
  }
  
}
